body {
  padding: 2rem;
}

h1 {
  padding: 0.1rem 0 0.1rem 0;
  margin: 0.1rem 0 0.1rem 0;
  text-align: center;
}

.danger {
  color: red;
}

.tokens-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 0 0 0;
}

.entry {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.4rem;
  border: solid 1px silver;
  border-radius: 10px;
}

.token-value {
  color: silver;
}

.emoji {
  font-size: 1.5rem;
}

.token-name {
  font-weight: 800;
}
